<html>
    <head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script id="data">
         foo = 1;
         bar = [1,2,3];
        </script>
    </head>
    <title>Okno do radnice</title>
    <body>
        <h1>Test</h1>
        Okno do radnice!<br/>
        Number of rows in db:<span id="rowcount">999</span>
        <div id="chart" style="width:600px;height:250px;"></div>
        <script>
	chart = document.getElementById('chart');
	 Plotly.plot( chart, [{
	     x: x,
	     y: y,
             type: "bar"
         }], {
	          margin: { t: 0 } } );
        </script>
    </body>
</html>
