<html>
    <body>
        <h5>Absentéři</h5>
        <table>
            <tbody id="bad">
                <tr>
                    <td>John Doe</td>
                    <td>80%</td>
                <tr>
            </tbody>
        </table>
        </br>
        <h5>Šprti</h5>
        <table>
            <tbody id="good">
                <tr>
                    <td>John Doe</td>
                    <td>80%</td>
                    <tr>
            </tbody>
            
        </table>
    </body>
</html>
