<html>
    <body>
        <h5>Ovce</h5>
        <table>
            <tbody id="sheeps">
                <tr>
                    <td>John Doe</td>
                    <td>80%</td>
            </tbody>
            <tr>
        </table>
        </br>
        <h5>Samotáři</h5>
        <table>
            <tbody id="mavericks">
                <tr>
                    <td>John Doe</td>
                    <td>80%</td>
                    <tr>
            </tbody>
        </table>
    </body>
</html>
